div.emd-container{
position:relative;
font-size:16px;
color:#32373c;
width:100%;
}
.emd-dropdown-wrap div:not([class*="photo"]):not([class*="emd-thumb"]):not([class*="featured-img"]){
padding:0 7px;
}
.segment-block.title{font-weight:500}
:focus {outline:none !important;}
::-moz-focus-inner {border:0 !important;}
/* single_contact */
.emd-single-div{ padding-top:20px; } .emd-single-title{ padding-bottom:10px; font-weight: bold; } .emd-single-val{ padding-right:10px; }
